.chat {
    flex: 0.7;
    flex-grow: 1;
    overflow-y: scroll;
    padding-bottom: 150px;
    background-color: #1A1D21;
    color: white;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
   
}

.chat_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
    border-bottom: 1px solid lightgray;
    
}

.chat_headerRight > p {
    display:flex;
    align-items: center;
    font-size: 14px;
}

.chat_channelName{
display: flex;
text-transform: lowercase;
font-size: 22px;
}
div.ui.bottom.right.inverted.popup.transition.visible{
    border: white solid 1px;
}
div.ui.bottom.right.inverted.popup.transition.visible::before{
    display: none;
}