.header_div{
    width: 100%;
    background-color: #121016;
    height: 44px;
    display: flex;
   align-items: center;
   color: #D1D2D3;
}
.header_div_left{ 
    flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 20px;
   
  
}
.header_div_left > .MuiSvgIcon-root {
    margin-left: auto; 
    margin-right: 30px;
}
.header_div_center{
    flex: 0.4;
    margin-left: 20px;
}

.header_div_right{
  flex: 0.3;
  display: flex;
  align-items: center; 
  justify-content: flex-end;


}

.header_help_button{
    margin-right: 20px;
    justify-content: right;
}




.header_search_button{
    background-color: #D1D2D333;
    border: 1px gray solid;
    outline: rgba(255, 255, 255);
    border-radius: 5px;
    height: 26px;
    width: 732px;
    color: #D1D2D3;
    display: flex;
    padding:  0 20px;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
    gap: 81%;
}

.header_div_right > *{
   
    margin-right: 20px;
}


