.message{
    display: flex;
    align-items: center;
    padding: 20px;
}

.message_info{
    
}

.message_info{
padding-left: 10px;
}

.message:hover{
    background-color: #222529;
}
.img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 25px;
}

.message_date_time:hover{
    text-decoration: underline;
    cursor: pointer;
}

.message_date_time{
    color: #ABABAD;
}