.sidebar_option {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
    color: #919193;
}

.sidebar_option:hover {
    opacity:  0.9;
background-color: rgba(209,210,211,0.2);

}

.sidebaroption_icon{
     padding-left: 10px; 
    font-size: 30px !important; 
}

.sidebaroption_channel {
    padding: 10px 0;
    align-items: center;
}

.sidebar_option > h3 {
font-weight: 500;
margin-top: 0;
margin-bottom: 0;
margin-left: 5px;
margin-right: auto;
font-size: 15px;
color: #919193;
}

.sidebaroption_hash{
    padding: 10px;
}

.dms > h3{
    font-weight: bold !important;
    color: white !important;
}

.button_option{
  display: none;


}

.sidebar_option:hover .button_option{
    display: inline;
}

.button_option > .ui.black.button{
    background-color: transparent !important;
    float: right;
    justify-content: flex-end;
}